html{
    font-size: 65%;
}
.plans-card-container--slider{
    justify-content: center;
}
.footer-left li{
    display: inline-block;
}
.product-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.main-tabless-container{
    display: flex;
}
.main-tables-container{
    width: 50%;
}